.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
nz-header {
  background: #fff;
  padding: 0;
}
.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
  line-height: 32px;
  color: white;
  text-align: center;
}

.header-menu {
  line-height: 64px;
}
//
//
//.inner-layout {
//  padding: 0 24px 24px;
//}
//
//.layout {
//  height: 100vh;
//}

