.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
//.logo {
//  width: 200px;
//  height: 30px;
//  //background: rgba(255, 255, 255, 0.2);
//  margin: 16px 30px 16px 0;
//  float: left;
//  line-height: 32px;
//  text-align: center;
//  font-family: "Times New Roman", Times, serif;
//  font-size: 22px;
//  color:#999999;
//}


.sider-menu {
  height: 100vh;
  border-right: 0;
}
