<!--<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">-->
<!--  <div class="logo"></div>-->
<!--  <ul nz-menu nzTheme="dark" nzMode="inline">-->
<!--    <li nz-submenu nzTitle="User" nzIcon="Combine Graph">-->
<!--      <a href="javascript:void(0)" routerLink="/home/content">-->
<!--        <li nz-menu-item nzSelected>Overall</li>-->
<!--      </a>-->
<!--    </li>-->

<!--  </ul>-->
<!--</nz-sider>-->
<!--  <div class="logo" nz-icon nzType="cloud-o" ><b>Climate</b></div>-->
<div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
    <li nz-submenu nzOpen nzIcon="appstore-o" nzTitle="Combine Graph">
      <ul>
        <a href="javascript:void(0)" routerLink="/home/content">
          <li nz-menu-item nzSelected>Overall</li>
        </a>
      </ul>
    </li>
  </ul>


<!--      <a href="javascript:void(0)" routerLink="/home/LineGraph">-->
<!--        <li nz-menu-item>LineGraph</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/home/WordCloud">-->
<!--        <li nz-menu-item>WordCloud</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/home/StackGraph">-->
<!--        <li nz-menu-item>StackGraph</li>-->
<!--      </a>-->

<!--  <li nz-submenu nzTitle="Single Graph" nzIcon="laptop">-->
<!--    <ul>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/LineGraph">-->
<!--        <li nz-menu-item>LineGraph</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/WordCloud">-->
<!--        <li nz-menu-item>WordCloud</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/StackGraph">-->
<!--        <li nz-menu-item>StackGraph</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/HeatMap">-->
<!--        <li nz-menu-item>HeatMap</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/NodeGraph">-->
<!--        <li nz-menu-item>NodeGraph</li>-->
<!--      </a>-->
<!--      <a href="javascript:void(0)" routerLink="/graph/test">-->
<!--        <li nz-menu-item>Test</li>-->
<!--      </a>-->
<!--    </ul>-->
<!--  </li>-->

