<ul nz-menu nzMode="inline" class="sider-menu">
  <li nz-submenu nzOpen nzIcon="user" nzTitle="Combine Graph">
    <ul>
      <a href="javascript:void(0)" routerLink="/home/test">
        <li nz-menu-item nzSelected>Overall</li>
      </a>
      <a href="javascript:void(0)" routerLink="/home/LineGraph">
        <li nz-menu-item>LineGraph</li>
      </a>
      <a href="javascript:void(0)" routerLink="/home/WordCloud">
        <li nz-menu-item>WordCloud</li>
      </a>
      <a href="javascript:void(0)" routerLink="/home/StackGraph">
        <li nz-menu-item>StackGraph</li>
      </a>
    </ul>
  </li>
  <li nz-submenu nzTitle="Single Graph" nzIcon="laptop">
    <ul>
      <a href="javascript:void(0)" routerLink="/graph/LineGraph">
        <li nz-menu-item>LineGraph</li>
      </a>
      <a href="javascript:void(0)" routerLink="/graph/WordCloud">
        <li nz-menu-item>WordCloud</li>
      </a>
      <a href="javascript:void(0)" routerLink="/graph/StackGraph">
        <li nz-menu-item>StackGraph</li>
      </a>
      <a href="javascript:void(0)" routerLink="/graph/HeatMap">
        <li nz-menu-item>HeatMap</li>
      </a>
      <a href="javascript:void(0)" routerLink="/graph/NodeGraph">
        <li nz-menu-item>NodeGraph</li>
      </a>
      <a href="javascript:void(0)" routerLink="/graph/test">
        <li nz-menu-item>Test</li>
      </a>
    </ul>
  </li>
</ul>
