<div nz-row [nzGutter]="[16, 16]">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
<!--      <app-line-graph></app-line-graph>-->
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
<!--      <app-word-cloud></app-word-cloud>-->
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
<!--      <app-force-graph></app-force-graph>-->
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
<!--      <app-heat-map></app-heat-map>-->
    </div>
  </div>
</div>
