<div nz-row [nzGutter]="[16, 16]" nzJustify="space-between" nzAlign="top" >
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
      <div class="grid-elems height-100"  style="width:50%; height:30%">
        <app-line-graph></app-line-graph>
      </div>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
      <div class="grid-elems height-100" style="width:50%; height:30%">
        <app-word-cloud (msg)="getWordCloud($event)"></app-word-cloud>
      </div>
    </div>
  </div>
</div>
<div nz-row [nzGutter]="[16, 16]" nzJustify="space-between" nzAlign="bottom">
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
      <div class="grid-elems height-100" style="width:450px; height:350px">
        <app-force-graph [WordCloudParam]="param_WordCloud"></app-force-graph>
      </div>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="12">
    <div class="grid-config">
      <div class="grid-elems height-50" style="width:450px; height:350px">
        <app-heat-map></app-heat-map>
      </div>
    </div>
  </div>
</div>

<!--<div nz-row nzJustify="center" nzAlign="top">-->
<!--  <div nz-col nzSpan="12" nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">-->
<!--    <p class="height-100">-->
<!--      <app-line-graph></app-line-graph>-->
<!--    </p>-->
<!--  </div>-->
<!--  <div nz-col nzSpan="12" nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">-->
<!--    <p class="height-50">-->
<!--      <app-word-cloud></app-word-cloud>-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
<!--<div nz-row nzJustify="space-between" nzAlign="bottom">-->
<!--  <div nz-col nzSpan="12">-->
<!--      <app-force-graph></app-force-graph>-->
<!--  </div>-->
<!--  <div nz-col nzSpan="12">-->
<!--      <app-heat-map></app-heat-map>-->
<!--  </div>-->
<!--</div>-->

