<div>
  <div nz-row>
    <div nz-col nzFlex="1 1 300px"><app-force-graph></app-force-graph></div>
    <div nz-col nzFlex="1 1 300px"><app-line-graph></app-line-graph></div>
    <div nz-col nzFlex="0 1 300px"><app-heat-map></app-heat-map></div>
    <div nz-col nzFlex="0 1 300px"><app-word-cloud></app-word-cloud></div>
  </div>
</div>
<!--<div nz-row>-->
<!--  <div nz-col [nzSpan]="18" [nzPush]="6">-->
<!--    <app-line-graph></app-line-graph>-->
<!--  </div>-->
<!--  <div nz-col [nzSpan]="6" [nzPull]="18">-->
<!--    <app-word-cloud></app-word-cloud>-->
<!--  </div>-->
<!--</div>-->
