<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo" >{{isCollapsed ? 'CAB' : "Climate Action Beacon"}}</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Combine Graph" nzIcon="user">
        <ul>
          <a href="javascript:void(0)" routerLink="/home/content">
            <li nz-menu-item nzSelected>Overall</li>
          </a>
<!--          <a href="javascript:void(0)" routerLink="/home/LineGraph">-->
<!--            <li nz-menu-item>LineGraph</li>-->
<!--          </a>-->
<!--          <a href="javascript:void(0)" routerLink="/home/WordCloud">-->
<!--            <li nz-menu-item>WordCloud</li>-->
<!--          </a>-->
<!--          <a href="javascript:void(0)" routerLink="/home/StackGraph">-->
<!--            <li nz-menu-item>StackGraph</li>-->
<!--          </a>-->
        </ul>
      </li>
<!--          <li nz-submenu nzTitle="Single Graph" nzIcon="laptop">-->
<!--            <ul>-->
<!--&lt;!&ndash;              <a href="javascript:void(0)" routerLink="/graph/WordCloud">&ndash;&gt;-->
<!--&lt;!&ndash;                <li nz-menu-item>WordCloud</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="javascript:void(0)" routerLink="/graph/LineGraph">&ndash;&gt;-->
<!--&lt;!&ndash;                <li nz-menu-item>LineGraph</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="javascript:void(0)" routerLink="/graph/HeatMap">&ndash;&gt;-->
<!--&lt;!&ndash;                <li nz-menu-item>HeatMap</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--&lt;!&ndash;              <a href="javascript:void(0)" routerLink="/graph/NodeGraph">&ndash;&gt;-->
<!--&lt;!&ndash;                <li nz-menu-item>NodeGraph</li>&ndash;&gt;-->
<!--&lt;!&ndash;              </a>&ndash;&gt;-->
<!--              <a href="javascript:void(0)" routerLink="/graph/test">-->
<!--                <li nz-menu-item>Test</li>-->
<!--              </a>-->
<!--            </ul>-->
<!--          </li>-->
    </ul>
  </nz-sider>

  <nz-layout style="width: 100%">
    <nz-header>
      <app-header (msg)="collapsed($event)"></app-header>
    </nz-header>
    <nz-content class="out-layer">
      <app-breadcrumb></app-breadcrumb>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-content>
    <nz-footer>Front Designer: Junkai Yang &nbsp;&nbsp; Front Assistant: Jingwen Zhang(Layout)&nbsp;&nbsp;&nbsp;&nbsp; End Designer: Qiulei Wang </nz-footer>
  </nz-layout>
</nz-layout>


<!--<nz-layout class="layout"style="overflow-y: hidden">-->
<!--  <nz-header>-->
<!--    <app-header></app-header>-->
<!--  </nz-header>-->
<!--  <nz-layout>-->
<!--    <nz-sider nzWidth="200px" nzTheme="light">-->
<!--      <app-side-bar></app-side-bar>-->
<!--    </nz-sider>-->
<!--    <nz-layout class="inner-layout" >-->
<!--      <app-breadcrumb></app-breadcrumb>-->
<!--      -->
<!--    </nz-layout>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->

