<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <app-side-bar></app-side-bar>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header (msg)="collapsed($event)"></app-header>
    </nz-header>
    <nz-content>
      <app-breadcrumb></app-breadcrumb>
      <nz-content><router-outlet></router-outlet></nz-content>
    </nz-content>
  </nz-layout>
</nz-layout>


<!--<nz-layout class="layout"style="overflow-y: hidden">-->
<!--  <nz-header>-->
<!--    <app-header></app-header>-->
<!--  </nz-header>-->
<!--  <nz-layout>-->
<!--    <nz-sider nzWidth="200px" nzTheme="light">-->
<!--      <app-side-bar></app-side-bar>-->
<!--    </nz-sider>-->
<!--    <nz-layout class="inner-layout" >-->
<!--      <app-breadcrumb></app-breadcrumb>-->
<!--      -->
<!--    </nz-layout>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->

