<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo" >{{isCollapsed ? 'CAB' : "Climate Action Beacon"}}</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Combine Graph" nzIcon="user">
        <ul>
          <a href="javascript:void(0)" routerLink="/home/content">
            <li nz-menu-item nzSelected>Overall</li>
          </a>
<!--          <a href="javascript:void(0)" routerLink="/home/LineGraph">-->
<!--            <li nz-menu-item>LineGraph</li>-->
<!--          </a>-->
<!--          <a href="javascript:void(0)" routerLink="/home/WordCloud">-->
<!--            <li nz-menu-item>WordCloud</li>-->
<!--          </a>-->
<!--          <a href="javascript:void(0)" routerLink="/home/StackGraph">-->
<!--            <li nz-menu-item>StackGraph</li>-->
<!--          </a>-->
        </ul>
      </li>
          <li nz-submenu nzTitle="Single Graph" nzIcon="laptop">
            <ul>
<!--              <a href="javascript:void(0)" routerLink="/graph/WordCloud">-->
<!--                <li nz-menu-item>WordCloud</li>-->
<!--              </a>-->
<!--              <a href="javascript:void(0)" routerLink="/graph/LineGraph">-->
<!--                <li nz-menu-item>LineGraph</li>-->
<!--              </a>-->
<!--              <a href="javascript:void(0)" routerLink="/graph/HeatMap">-->
<!--                <li nz-menu-item>HeatMap</li>-->
<!--              </a>-->
<!--              <a href="javascript:void(0)" routerLink="/graph/NodeGraph">-->
<!--                <li nz-menu-item>NodeGraph</li>-->
<!--              </a>-->
              <a href="javascript:void(0)" routerLink="/graph/test">
                <li nz-menu-item>Test</li>
              </a>
            </ul>
          </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header (msg)="collapsed($event)"></app-header>
    </nz-header>
    <nz-content class="out-layer">
      <app-breadcrumb></app-breadcrumb>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-content>
  </nz-layout>
</nz-layout>


<!--<nz-layout class="layout"style="overflow-y: hidden">-->
<!--  <nz-header>-->
<!--    <app-header></app-header>-->
<!--  </nz-header>-->
<!--  <nz-layout>-->
<!--    <nz-sider nzWidth="200px" nzTheme="light">-->
<!--      <app-side-bar></app-side-bar>-->
<!--    </nz-sider>-->
<!--    <nz-layout class="inner-layout" >-->
<!--      <app-breadcrumb></app-breadcrumb>-->
<!--      -->
<!--    </nz-layout>-->
<!--  </nz-layout>-->
<!--</nz-layout>-->

