nz-breadcrumb {
  margin: 16px 0;
}
#info{
  white-space:nowrap;
}
.right {
  float:right;
  margin-top: -5px;
}
.nz-date-picker {
  margin: 0 8px 12px 0;
}
.button{
  background-color: #052745;
  height: 30px;
  width: 60px;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-size: 13px;
  Margin-LEFT: 15PX;
  border-radius:4px;
}

@media (max-width: 992px)
{
  #date{
    display: none;
    padding-bottom: 5px;
  }

  #date1 {
    display: block;
    padding-bottom: 5px;
  }
}
@media (min-width: 991px)
{
 #date1 {
   display: none;
 }
}
