nz-breadcrumb {
  margin: 16px 0;
}
#info{
  white-space:nowrap;
}
.right {
  float:right
}
.nz-date-picker {
  margin: 0 8px 12px 0;
}
.button{
  background-color: #043969;
  height: 30px;
  width: 60px;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-size: 13px;
  Margin-LEFT: 15PX;
  border-radius:4px;
}
